main {
    background-image: url(https://wallpaperaccess.com/full/3551966.jpg);
    // background-image: url(https://www.freepnglogos.com/uploads/rick-and-morty/rick-and-morty-background-rick-morty-and-man-sky-mashup-wallpaper-taken-from-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;



        input {
            height: 4vh;
            width: 25vh;
            margin: 2px;
            font-size: larger;
        }

        button {
            height: 4.5vh;
            width: 6vh;
            margin: 2px;
            font-size: 15px;
        }


    }

}


.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;



    .tarjeta {
        list-style: none;
        font-weight: bolder;
        text-align: center;
        margin: 10px;
        padding-bottom: 5px;
        width: 30vh;
        height: 36vh;
        border-radius: 25px;
        border: 5px solid black;
        // background-image: url("https://media.tenor.com/exnzxw_A81gAAAAC/omfoo.gif");
        background-image: url("https://w0.peakpx.com/wallpaper/244/435/HD-wallpaper-portal-morty-rick.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
       

        h3 {
            color: black;
            
        }

        img {
            width: 80%;
            height: 80%;
            border-radius: 25px;
            border: 5px;
        }

        h4 {
            color: black;
            text-decoration: none;
        }


    }


}


.cambioP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;

    button {
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 50px;
        border: 4px solid black;
        font-size: larger;
        background-color: black;
        color: white;
        height: 80%;


    }

    h2 {
        color: white;
        border: 4px solid black;
        border-radius: 30px;
        background-color: black;
        height: 80%;

    }

}